<% var title = 'Add Companies' %>
<% include ../head %>
<div id="crumbs"><a href="/admin">admin</a> > add company</div>
<form method="POST" action="add-company" onsubmit="return validate()">
    <table>
        <tr>
            <td><label for="company">Company</label></td>
            <td><input type="text" id="company" autofocus name="company" class="required"></td>
        </tr>
        <tr>
            <td><label for="enabled">Enabled</label></td>
            <td><input id="enabled" type="checkbox" checked name="enabled"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Add Company"></td>
        </tr>
    </table>
</form>
<% include ../foot %>