<% var title = 'Admin' %>
<% include ../head %>
<ul class="menu">
    <li><a href="admin/view-users">View Users</a></li>
    <li><a href="admin/add-user">Add Users</a></li>
    <li><a href="admin/view-companies">View Companies</a></li>
    <li><a href="admin/add-company">Add Company</a></li>
</ul>
<% include ../foot %>