<% var title = 'View Users' %>
<% include ../head %>
<div id="crumbs"><a href="/admin">admin</a> > view users</div>
<div id="table_div">
</div>
<script>bindTable('/table-users')</script>
<% include ../foot %>