<% var title = 'Companies' %>
<% include ../head %>
<div id="crumbs"><a href="/admin">admin</a> > view companies</div>
<div id="table_div">
</div>
<script>bindTable('/table-companies')</script>
<% include ../foot %>