<script type="text/javascript">
    if (getParam('error') !== null) {
        document.getElementById('error').innerHTML = `${getParam('error')}`
    }

    if (getParam('message') !== null) {
        document.getElementById('message').innerHTML = `${getParam('message')}`
    }
</script>
</body>

</html>