<% var title = 'User' %>
<% include head %>
<ul class="menu">
    <li><a href="view-lasers">View Lasers</a></li>
    <li><a href="add-laser">Add Lasers</a></li>
    <li><a href="view-operators">View Operators</a></li>
    <li><a href="add-operator">Add Operator</a></li>
    <li><a href="view-jobs">View Jobs</a></li>
</ul>
<% include foot %>