<% var title = 'View Operators' %>
<% include head %>
<div id="crumbs"><a href="/">home</a> > view operators</div>
<div id="table_div">
</div>
<script>bindTable('/table-operators')</script>
<% include foot %>